* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: linear-gradient(45deg, #053742, #39a2db, #92d3f7, #aec9cf);
    background-size: 300%, 300%;
    animation: colors 15s ease infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    max-width: 1100px;
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 810px;
    text-align: center;
    border: 4px ridge black;
    background: linear-gradient(45deg, rgb(175, 175, 175), rgb(238, 235, 235));
    box-shadow: -15px 12px 8px 5px rgb(59, 59, 59);
    margin: 50px auto;
    padding: 15px;
}

.logo h3 {
    margin: 0 0 0 390px;
    color: #2b2b2b;
    font-family: "Monoton", cursive;
    font-weight: normal;
    font-size: 80px;
}

.logo h1 {
    margin: 0 0 0 390px;
    color: #2b2b2b;
}

.logo-org {
    margin: 0 0 0 -400px;
}

.signup {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}

ul,
li {
    padding: 10px;
    list-style: none;
}

ul {
    text-align: center;
}

p {
    padding: 10px;
    margin: 0 -16px 0 -97px;
}

.signup .signup-org {
    padding: 70px;
}

#btn-01 {
    margin: 5px 0 0 50px;
    width: 80%;
    background: #2b2b2b;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.button,
#btn-03,
#btn-02,
#nick,
#fName,
#email,
#pass,
#repPass {
    margin: 0px 0px 0px -85px;
    background: #2b2b2b;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#email {
    margin-left: 5px;
}

#remember {
    margin-left: 50px;
}

#remember:hover {
    color: red;
}

#pass {
    margin-left: 5px;
}

#p {
    margin-left: -30px;
}

#wel {
    margin: 0 0 0 390px;
    color: #2b2b2b;
    font-size: 20px;
}
.social-icon {
    position: absolute;
    margin: 0 0 0 500px;
}

/* Configuração da classe opções do Sign In */

.signip .signip-org {
    padding: 70px;
}

#line {
    margin: 50px 0 0 422px;
    position: absolute;
    height: 250px;
    border-left: 2px solid #2b2b2b;
}

.options {
    margin: -100px 0 0 175px;
}
