/* card config */

.arumation {
    background-size: cover;
    width: 350px;
    height: 550px;
    border-radius: 3%;
}

.carta {
    margin: 283px -145px 0 130px;
    width: 350px;
    height: 550px;
    border-radius: 3%;
    z-index: 1;
    float: right;
}

#background-carta{
    position: absolute;
    margin: -571px 0 0 -2px;
    background-size: cover;
    z-index: -2;
    width: 355px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid black;
}

.nome-carta {
    width: 80%;
    height: 10%;
    position: absolute;
    text-align: center;
    font-size: large;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 14px;
    border-radius: 8px;
    word-wrap: break-word;
    margin-left: 33px;
    z-index: 1;
}

#top-name-config,
#top-name-config-img,
#name-border {
    position: absolute;
    width: 265px;
    height: 50px;
    opacity: 1;
}

#name-border{
    margin: 1px 0 0 43px;
}

#top-name-config {
    margin: 0 0 0 16px;
}

#top-name-config-img {
    margin: 0;
    z-index: -1;
}
.custo-mana {
    font-size: 20px;
    margin: 51px 0 0 0px;
    width: 11%;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    border-radius: 8px 8px 8px 8px;
    z-index: 2;
    position: absolute;
}

.topo-carta {
    height: 10%;
}

.imagem-carta {
    border: 2px solid black;
    height: 50%;
    width: 91%;
    margin: -4px 0 0 14px;
}

.imagem-carta img {
    height: 100%;
    width: 100%;
}

.rodape-carta {
    height: 45%;
    padding-top: 3%;
}

#forma-icon{
    width: 19%;
    height: 12%;
    position: absolute;
    z-index: 2;
    margin: 290px 0 0 142px;
}

#icon {
    width: 100%;
    height: 100%;
    position: absolute;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
    border-radius: 5px;
}

.iIcon {
    width: 100%;
    height: 100%;
}

#icon-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#classI {
   width: 143px;
   height: 42px;
   position: absolute;
   text-align: center;
   color: floralwhite;
   font-weight: bolder;
   padding-top: 5px;
   border-radius: 50px 0 0 0;
   margin: 155.5px 0 0 196.3px;
   z-index: 1;
}

#class-img {
    width: 100.2%;
    height: 111.7%;
    border-radius: 50px 0 0 0;
    margin: -226px 0 -20px 0px;
}

.classe-carta {
    margin: 160px 0 0 199.9px;
    position: absolute;
    z-index: 2;
    height: 42px;
    width: 145px;
    border-radius: 50px 0 0 0;
}

#class-name {
    margin: 6px 0 0 0px;
    text-align: center;
    color: floralwhite;
}

#skillI{
    width: 325px;
    height: 170px;
    position: absolute;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
    margin: 147.5px 0 0 -4px;
    z-index: -1;
}

#skill-img{
    width: 101.1%;
    height: 110.7%;
    margin: -154px 0 -22px -164px;
    position: absolute;
}

.config-descricao-carta {
    background-color: rgba(155, 155, 155, 0.46);
    border: 2px solid black;
    height: 80%;
    max-width: 95%;
    margin: 1px 0 0 8px;
    color: floralwhite;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: break-word;
    font-size: small;
    overflow: hidden;
}

.atributos-carta {
    height: 20%;
    color: floralwhite;
    padding-left: 1%;
    font-weight: bolder;
    padding-top: 5%;
    font-size: 14px;
}

.config-status {
    color: floralwhite;
    font-weight: bold;
    word-wrap: normal;
    font-size: 15px;
    margin: -11px 0 0 8px;
    width: 328px;
    height: 21px;
}

#atk {
    margin: 10.5px 0px 0 23px;
}

#atk-value {
    margin: -20px 0 0 65px;
}

#def {
    margin: -20px 110px 0 210px;
}

#def-value {
    margin: -20px 0 0 251px;
}