/* card config */

.arumation {
    background-size: cover;
    width: 350px;
    height: 550px;
    border-radius: 3%;
}

.carta {
    margin: 283px -145px 0 130px;
    width: 350px;
    height: 550px;
    border-radius: 3%;
    z-index: 1;
    float: right;
}

#background-carta{
    position: absolute;
    margin: -575px 0 0 -2px;
    background-size: cover;
    z-index: -2;
    width: 355px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid black;
}

#backcarta-img {
    position: absolute;
    margin: -2px 0 0 -2px;
    background-size: cover;
    z-index: -2;
    width: 350px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid black;
}

.nome-carta {
    width: 88%;
    height: 10%;
    position: absolute;
    text-align: center;
    font-size: large;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 17px;
    border-radius: 8px;
    word-wrap: break-word;
    margin-left: 17.5px;
    z-index: 1;
}

#top-name-config,
#top-name-config-img,
#name-border {
    position: absolute;
    border-radius: 8px 8px 8px 2px;
    width: 320px;
    height: 50px;
    opacity: 1;
}

#top-name-config {
    margin: 1px 0 0 1px;
}

#name-border {
    margin: 4.6px 0 0 13px;
    z-index: 0;
}

#top-name-config-img {
    margin: 0.6px 0 0 0px;
    z-index: -1;
}
.custo-mana {
    font-size: 20px;
    margin: 310.3px 0 0 307px;
    width: 11%;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    border-radius: 2px 8px 8px 8px;
    z-index: 2;
    position: absolute;
}

.topo-carta {
    height: 10%;
}

.imagem-carta {
    border: 2px solid black;
    height: 50%;
    width: 91%;
    margin: 0px 0 0 14px;
}

.imagem-carta img {
    height: 100%;
    width: 100%;
}

.rodape-carta {
    height: 45%;
    padding-top: 3%;
}

#forma-icon{
    width: 19%;
    height: 12%;
    position: absolute;
    z-index: 2;
    margin: 40px 0 0 5px;
}

#icon {
    width: 100%;
    height: 100%;
    position: absolute;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
    border-radius: 35px;
}

.iIcon {
    width: 100%;
    height: 100%;
}

#icon-img{
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

#classI {
   width: 210.6px;
   height: 42px;
   position: absolute;
   text-align: center;
   color: floralwhite;
   font-weight: bolder;
   padding-top: 5px;
   border-radius: 2px 14px 2px 2px;
   margin: 92.9px 0 0 225.7px;
   z-index: 1;
   transform: rotate(90deg);
}

#class-img {
    width: 100.2%;
    height: 111.7%;
    border-radius: 2px 14px 2px 2px;
    margin: -226px 0 -20px -3px;
}

#skillI{
    width: 294px;
    height: 170px;
    position: absolute;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
    margin: 147.5px 0 0 -4px;
    z-index: -1;
}

#skill-img{
    width: 101.1%;
    height: 110.7%;
    margin: -154px 0 -22px -164px;
    position: absolute;
}

.classe-carta {
    margin: 0 0 0 198.9px;
    position: absolute;
    z-index: 2;
    height: 42px;
    width: 145px;
    border-radius: 2px 16px 2px 2px;
}

#class-name {
    margin: 33px 0 0 120px;
    text-align: center;
    color: floralwhite;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.config-descricao-carta {
    background-color: rgba(155, 155, 155, 0.46);
    border: 2px solid black;
    height: 90%;
    max-width: 81%;
    margin: -2px 0 0 26px;
    color: floralwhite;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: break-word;
    font-size: small;
    overflow: hidden;
}

.atributos-carta {
    height: 20%;
    color: floralwhite;
    padding-left: 1%;
    font-weight: bolder;
    padding-top: 5%;
    font-size: 14px;
}

.config-status {
    color: floralwhite;
    font-weight: bold;
    word-wrap: normal;
    font-size: 15px;
    margin: -121px 0 0 -92px;
    transform: rotate(-90deg);
    border: 2px solid black;
    height: 30px;
    width: 212px;
    border-radius: 13px 0px 0px 0px;
}

#atk {
    margin: 1.5px 0px 0 8px;
}

#atk-value {
    margin: -20px 0 0 50px;
}

#def {
    margin: -20px 110px 0 110px;
}

#def-value {
    margin: -20px 0 0 153px;
}