#skill-style-select {
  margin-top: 12px !important;
  margin-bottom: 20px !important;
}

#atributos-carta-input, #descricao-carta-input {
  margin-top: -10px !important;
}

#descricao-carta-input {
margin-bottom: 20px !important;
}

#backimg-carta-select {
  margin-left: 63px !important;
}

.input-text-color {
  margin-top: -2px !important;
}

/* card config */

.arumation {
    background-size: cover;
    width: 350px;
    height: 550px;
    border-radius: 3%;
}

.carta {
    margin: 283px -145px 0 130px;
    width: 350px;
    height: 550px;
    border-radius: 3%;
    z-index: 1;
    float: right;
}

#background-carta{
    position: absolute;
    margin: -302px 0 0 -2px;
    background-size: cover;
    z-index: -2;
    width: 355px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid black;
}

.nome-carta {
    width: 85%;
    height: 10%;
    position: absolute;
    text-align: center;
    font-size: large;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 17px;
    border-radius: 8px;
    word-wrap: break-word;
    margin-left: 22px;
    z-index: 1;
}

#top-name-config,
#top-name-config-img,
#name-border {
    position: absolute;
    width: 319px;
    height: 50px;
    opacity: 1;
}

#top-name-config {
    margin: 1px 0 0 -5px;
}

#name-border {
    margin: 4.6px 0 0 14px;
    z-index: 0;
}

#top-name-config-img {
    margin: 0.6px 0 0 0px;
    z-index: -1;
}
.custo-mana {
    font-size: 20px;
    margin: 54.3px 0 0 8px;
    width: 11%;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    border-radius: 2px 8px 8px 8px;
    z-index: 2;
    position: absolute;
}

.topo-carta {
    height: 10%;
}

.rodape-carta {
    height: 45%;
    padding-top: 3%;
}

#skillI{
    width: 325px;
    height: 73px;
    position: absolute;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
    margin: 148.5px 0 0 -4px;
    z-index: -1;
}

#skill-img{
    width: 102.1%;
    height: 109.7%;
    margin: -154px 0 -22px -164px;
    position: absolute;
}

.config-descricao-carta {
    background-color: rgba(155, 155, 155, 0.46);
    border: 2px solid black;
    height: 35%;
    max-width: 95%;
    margin: 389px 0 0 8px;
    color: floralwhite;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: break-word;
    font-size: small;
    overflow: hidden;
}

.atributos-carta {
    height: 20%;
    color: floralwhite;
    padding-left: 1%;
    font-weight: bolder;
    padding-top: 5%;
    font-size: 14px;
}

#descricao-carta {
  margin: 25px 0 0 0;
}