#img-carta-select {
    margin-bottom: -20px !important;
}

.input-text-color-1 {
  margin: 30px -55px 5px 150px !important;
}

#imagem-url-carta-input{
    margin: 30px 0 -22px 152px !important;
}

#upload-img{
    margin: -27px 0 0 427px !important;
}

#bImg {
  margin: 0px 0 0 0 !important;
}

#nome-carta-input {
  margin-top: 10px !important;
}

#iconimg-carta-select, #icon-border-select{
    width: 53% !important;
}

#upload-iconimg-button{
    margin-top: -47px !important;
}

#lIc {
    margin-top: 23px !important;
}

#icon-url-carta-input {
    width: 53.2% !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

/* card config */

.arumation {
    background-size: cover;
    width: 350px;
    height: 550px;
    border-radius: 3%;
}

.carta {
    margin: 283px -145px 0 130px;
    width: 350px;
    height: 550px;
    border-radius: 3%;
    z-index: 1;
    float: right;
}

#background-carta{
    position: absolute;
    margin: -486px 0px 0 -2px;
    background-size: cover;
    z-index: -2;
    width: 355px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid black;
}

.nome-carta {
    width: 74%;
    height: 10%;
    position: absolute;
    text-align: center;
    font-size: large;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 17px;
    border-radius: 8px;
    word-wrap: break-word;
    margin-left: 11px;
    z-index: 1;
}

.topo-carta {
    height: 10%;
}

.imagem-carta {
    border: 8px solid black;
    height: 76%;
    width: 64.5%;
    margin: -69.5px 0 0 109px;
}

.imagem-carta img {
    height: 100%;
    width: 100%;
}

.rodape-carta {
    height: 45%;
    padding-top: 3%;
}

#select-number-card{
    margin: 419px 0 0 -69px;
}

#fImg1, 
#fImg2, 
#fImg3, 
#fImg4 {
    width: 20%;
    height: 14%;
    position: absolute;
    z-index: 2;
    margin: -23px 0 0 10px;
}

#fImg2{
    margin: -475px 0 0 294px;
}

#fImg3{
    margin: -130px 0 0 294px;
}

#fImg4{
    margin: -130px 0 0 6px;
}

#forma-icon1,
#forma-icon2,
#forma-icon3,
#forma-icon4{
    width: 14%;
    height: 9%;
    position: absolute;
    z-index: 2;
    margin: -88px 0 0 0;
    font-size: 135px;
}

#forma-icon2{
    margin: -45px 0 0 293.7px;
}

#forma-icon3{
    margin: -100px 0 0 293.7px;
    transform: rotate(180deg);
}

#forma-icon4{
    margin: -100px 0 0 6px;
    transform: rotate(180deg);
}

#icon-img1,
#icon-img2,
#icon-img3,
#icon-img4{
    width: 100%;
    height: 100%;
}

#num1,
#num2,
#num3,
#num4{
    font-size: 95px;
    font-weight: bold;
}

#num1{
    margin: -5px 0 0 12px;
}

#spot1, #spot2, #spot3, #spot4, #spot5,
#spot6, #spot7, #spot8, #spot9, #spot10{
    font-size: 150px;
}

#spot1{
    margin: -182px 0 0 67px;
}

#spot2{
    margin: -204px 0 0 183px;
}

#spot3{
    margin: -343px 0 0 67px;
}

#spot4{
    margin: -204px 0 0 183px;
}

#spot5{
    margin: -345px 0 0 67px;
}

#spot6{
    margin: -204px 0 0 183px;
}

